.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(17px);
}

.benefit__icon {
    width: rem(68px);
    height: rem(68px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.benefit__title {
    font-weight: bold;
    font-size: rem(24px);
    margin-bottom: rem(2px);
}

.benefit__image {
    @include phones {
        margin-bottom: 0;
        margin-right: rem(20px);
    }
}

.benefit__desc {
    color: #666666;
    font-size: rem(16px);
    line-height: 1.2;
    width: 96%;
    padding-left: rem(11px);
}