.btn {
    font-size: rem(18px);
    font-weight: bold;
    padding: rem(18px) rem(38px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    border: none;

    &--theme--red {
        background: #E01F3D;
        color: #FFFFFF;

        &:hover {
            background: #CA1B36;
            color: #FFFFFF;
        }
    }

    &--theme--transparent {
        font-size: rem(16px);
        background: transparent;
        color: #FFFFFF;
        text-transform: none;
        font-weight: normal;
        padding: rem(8px);

        &:hover {
            color: #E01F3D;
        }

        @include tablets {
            padding: rem(25px);
        }
    }
}