.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: rem(93px);

    @include tablets {
        margin-bottom: rem(140px);
    }

    @include phones {
        margin-bottom: rem(29px);
    }
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}