.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: rem(9px);
}

.headline__subtitle {
    font-size: rem(16px);
    color: $darkGrey;
    padding: 0 20%;
    line-height: 1.2;

    @include phones {
        padding: 0 5%;
    }
}