.menu {
    margin: 0 30px;
    padding-top: 5px;

    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: rem(16px);
}

.menu__item {
    margin-right: rem(27px);

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
}