.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title {
    font-size: rem(48px);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: rem(60px);
    text-align: center;
}

.section__title-order {
    color: #FFFFFF;
    margin-bottom: rem(50px);
}