$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colors
$lightGrey: #F5F5F5;
$balck: #292929;
$darkGrey:#666666;

@import "media";

//z-indexes
$z-fixed-menu: 100;

//normalize
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import "layout";

//components
@import "components/hero.scss";
@import "components/header.scss";
@import "components/features.scss";
@import "components/feature.scss";
@import "components/btn.scss";
@import "components/section.scss";
@import "components/headline.scss";
@import "components/benefits.scss";
@import "components/benefit.scss";
@import "components/benefits-section.scss";
@import "components/reviews.scss";
@import "components/form.scss";
@import "components/order.scss";
@import "components/radio.scss";
@import "components/fixed-menu.scss";
@import "components/menu.scss";
@import "components/phone-number.scss";
@import "components/hamburger.scss";
@import "components/order__section.scss";
@import "components/team.scss";
@import "components/map-section.scss";
